@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:wght@500;600;800&display=swap');

html {
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
    background-color: #1a1a1a;
}